.Rproj.user
.Rhistory
.RData
.Ruserdata
22_EARLI_SIG18_presentation_Kirstin.Rmd
22_EARLI_SIG18_presentation_Kirstin.html
22_EARLI_SIG18_presentation_Kristina.Rmd
22_EARLI_SIG18_presentation_Kristina.html